<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/leaflet/leaflet.css"/>
  <title>Covid Bus Monitoring NYC</title>
</head>
<body>



  <%- body %>

  <footer class="page-footer mt-5 text-white">
    <div class="container-fluid bg-dark">
      <div class="col pt-3 pb-2 text-right">
        <h3> Contact Us </h3>
        <p class="mb-1 mt-4"> Name Namename </p>
        <p> E-Mail </p>
      </div>
    </div>
  </footer>

  <script src= "/jquery/jquery.js"></script>
  <script src= "/popper/popper.js"></script>
  <script src= "/bootstrap/bootstrap.js"></script>
  <script src= "/leaflet/leaflet.js"></script>
  <script src="../public/script_dashboard.js"></script>
</body>
</html>
