<div class="container-fluid">
  <div class="row mt-5">
    <div class="col-md-6 m-auto text-center">
      <h1>Covid-19 Bus Monitoring NYC<h1>
      <h2 class="text-muted">A Student Project</h2>
      <hr>
      <p class="mb-0">Using this app you can track all your busrides within the MTA service area</p>
      <p>and can see which of your busrides are deemed at high risk by a doctor</p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>For Users</h1>
        <p>Create an account or login</p>
        <a href="/users/register" class="btn btn-secondary btn-block mb-2">Register</a>
        <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <h1>For Doctors</h1>
        <p>Create an account or login</p>
        <a href="/doctors/register" class="btn btn-secondary btn-block mb-2">Register</a>
        <a href="/doctors/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
</div>
